html{
  background-color: rgb(41, 28, 73)
}

.App {
  text-align: center;
  font-family: 'Rubik', Courier, monospace;  
}

.calculadora{
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 4rem;
  margin-left: 22rem;
  margin-right: 22rem;
  
  row-gap: 0.5rem;
  background-color: white;
  border-radius: 1rem;
}





